* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 165px;
    max-width: 165px;
}

/*CSS for hr left align*/
hr {
    border-top: 1px solid #8c8b8b;
    width: 100%;
}

@media print {
    .hidden-print,
    .hidden-print * {
        visibility: hidden !important;
    }
}