{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center;margin-bottom: 1.4em">Transactions</h2>
    <select id="type" class="form-select" style="margin-bottom: 2em;">
        <option value="seva">Seva</option>
        <option value="donation">Donation</option>
    </select>
    <div class="table-responsive" style="margin-bottom: 2em">
        <table class="table">
            <thead id="t_head">

            </thead>
            <tbody id="transactions">
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('main.catch_all', path='js/transaction.js') }}"></script>
{% endblock %}
